.article__main {
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.article__content {
	padding: 35px 75px 50px 75px;
	background: #ffffff;
	border: 1px solid #eaeaea;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	margin-bottom: 35px;
	& h2 {
		font-size: 24px;
		line-height: 29px;
		color: #363636;
	}
	& p {
		font-size: 18px;
		line-height: 150%;
	}
	@media screen and (max-width: 440px) {
    	padding: 20px 30px 30px 30px;

		& h2 {
			font-size: 18px;
		}
		& p {
			font-size: 14px;
		}
	}
}
.article__image {
	height: 245px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.article__action {
	margin-bottom: 45px;
    @media screen and (max-width: 440px) {
    	& button {
            margin-left: 60px;
            font-size: 12px;
        }
        & img {
            width: 12px;
            margin-right: 4px;
        }
	}
	& button {
		margin-left: 75px;
	}
	& img {
		width: 12px;
		margin-right: 8px;
	}
}
